*{
    font-family: 'Anton', sans-serif;
    font-family: 'Lora', serif;
}

body{
    background-color: rgb(221, 246, 221);
}
.nav-item {
    font-size: large;
    padding-left: 5px;
}

.nav-link:hover{
    color: rgb(0, 121, 10);
    text-decoration: underline;
    font-weight: bold;
}
.navbar{
    height: 3.5em;
    z-index: 5;
    margin-top: .5em;
}

.custom-modal {
    background-color: rgba(255, 255, 255, .8); 
}
.navbar-collapse.show {
    transform: translate(0, 0); 
    -webkit-transform: translate(0, 0);
    background-color: #ffffff;
    transition: background-color 0.3s;
  }

.custom-form {
    background-color: transparent;
    border-color: green;
}
.custom-adon {
    background-color: transparent;
    border-color: green;
    color: green;
}
.custom-btn:hover {
    color: green;
    text-decoration: underline;
}
.nav-link.active-link {
    color: green;
    font-weight: bold;
    text-decoration: underline;
  }
.hidden-search {
    display: none;
}
.custom-card-body{
    background-color: transparent;
}

.custom-card {
    --bs-card-bg: none;
}

  .dash-scroll::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  .dash-scroll::-webkit-scrollbar-thumb {
    background-color: #fbfffb;
    border-radius: 6px;
  }
  
  .dash-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #ddfeca;
  }
  
  .dash-scroll::-webkit-scrollbar-thumb:active {
    background-color: #f4fcf3;
  }
